/cool_tech/.phpunit.cache
/cool_tech/node_modules
/cool_tech/public/build
/cool_tech/public/hot
/cool_tech/public/storage
/cool_tech/storage/*.key
/cool_tech/vendor
/cool_tech/.env
/cool_tech/.env.backup
/cool_tech/.env.production
/cool_tech/.phpunit.result.cache
/cool_tech/Homestead.json
/cool_tech/Homestead.yaml
/cool_tech/auth.json
/cool_tech/npm-debug.log
/cool_tech/yarn-error.log
/cool_tech/.fleet
/cool_tech/.idea
/cool_tech/.vscode
